.appBar {
  height: 100px;
  z-index: 1 !important;
}
.toolbar {
  display: flex;
  margin: auto 10%;
  justify-content: space-between;
}

.img {
  width: 100%;
}

.headerTools {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 900px) {
  .appBar {
    height: auto;
  }

  .img {
    display: block;
  }

  .toolbar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 20px;
  }
}
